<header class="d-flex justify-content-between align-items-center">
    <h1>Pokemon</h1>
</header>
    <a href="/pokemon/new" class="btn btn-primary">Add a Pokemon</a>

<ul class="list-group">
    {{#each pokemon}}

    <li class="list-group-item d-flex justify-content-between">

<div>
    <h2>{{this.name}}</h2>
</div>

<div>
    <img src="{{this.img}}">
</div>

    <div class="links">
<a href="/pokemon/{{this.id}}/edit" class="btn btn-primary">Edit</a>


<form action="/pokemon/{{this.id}}?_method=DELETE" method="POST" class="d-inline">
    <input type="submit" value="Delete" class="btn btn-danger"/>
</form>

        </div>
     </li>
     {{/each}}
</ul>

<script>console.log("hbs is working!")</script>